.awards {
    padding: 5.6vw;

    h2{
        text-align: center;
    }

    &__list{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        background-color: lighten(#1A1817, 1%);
        border-radius: 30px;

        &__item{
            text-align: center;
            padding: 60px 44px 44px;
            width: 100%;

            img{
                height: 600px;
                border: 5px solid darken(#1A1817, 1%);
                box-shadow: 1px 1px 1px darken(#1A1817, 1%);
            }

            strong {
                display: block;
                margin-top: 24px;
                margin-bottom: 24px;
                font-size: 24px;
            }

            li{
                margin-bottom: 10px;
                font-size: 19px;
            }
        }
    }

}