.faq {
    padding: 5.6vw;

    @media (max-width: 768px) {
        padding: 0;
    }

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {

        &__item{
            background-color: #6F7D8C;
            margin-bottom: 16px;

            &:hover{
                background-color: lighten(#6F7D8C,10%);
            }

            &__question{
                color: #fff;
                font-size: 24px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;
                font-family: "Bebas Neue", sans-serif;
                
                @media (max-width: 768px) {
                    padding-right: 55px;
                }
            
                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .5s ease;

                @media (max-width: 768px) {
                    padding: 0;
                }

                p{
                    font-size: 20px;

                    @media (max-width: 768px) {
                        padding: 0 20px;
                        font-size: 16px;
                        width: 100%;
                        text-align: justify;
                    }
                }
            }

            &--is-open{

                .faq__questions__item__question::after {
                    content: '-';

                }

                .faq__questions__item__answer{
                height: auto;
                padding-bottom: 24px;
                transition: height, .5s ease;
                }
            }
        }
    }
}