.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {

        &__item{
            background-color: #6F7D8C;
            margin-bottom: 16px;

            &:hover{
                background-color: lighten(#6F7D8C,10%);
            }

            &__question{
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: heigth, .5s ease;

                u{
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            &--is-open{

                .faq__questions__item__question::after {
                    content: '-';
                }

                .faq__questions__item__answer{
                height: auto;
                padding-bottom: 24px;
                transition: heigth, .5s ease;
                }
            }
        }
    }
}